<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First HTML Page with Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background-image: url("{{ url_for('static', filename='hi.jpg.jpg') }}");;
           Text-align:center;
        }
        .container{
            margin-bottom:100px;
            background-color:grey;
            border-radius:1px; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">About:-</h1>
        <p class="lead">University Canteen</p>
        <p>Alagappa university canteen Services<br>
            42/1,pari nagar<br>karaikudi<br>
            pincode:630001<br></p>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
